{% extends 'layout.html' %}

{% block title %}Todo Tasks{% endblock %}

{% block content %}
  <h1>Todo List</h1>
  <p>You have <strong>{{ todos.length }}</strong> Todos Items!</p>
  <p><a href="/todo/new">Create a Todo</a></p>
  <ul class="todos-list">
    {% for todo in todos %}
      <li>
        <strong>{{ todo.name }}</strong> ||
        <a href="/todo/{{ todo.id }}">View Details</a> ||
        <a href="/todo/edit/{{ todo.id }}">Edit</a> ||
        <a href="/todo/delete/{{ todo.id }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}